
 @font-face {
    font-family: "QuantAntiqua";
    src: url("fonts/QuantAntiqua.ttf");
}
 @font-face {
    font-family: "FreeSetBoldTT";
    src: url("fonts/FreeSetBoldTT.ttf");
	font-weight: bold;
}
 @font-face {
    font-family: "AvanteTck";
    src: url("fonts/AvanteTck.ttf");
}
 @font-face {
    font-family: "Futurica";
    src: url("fonts/Futurica.ttf");
}
 @font-face {
    font-family: "AdverGothic";
    src: url("fonts/AdverGothic.ttf");
}
 @font-face {
    font-family: "AGAvantGardeCyr";
    src: url("fonts/AGAvantGardeCyr.ttf");
}
 @font-face {
    font-family: "AGPalatial";
    src: url("fonts/AGPalatial.ttf");
}
 @font-face {
    font-family: "Baskerville";
    src: url("fonts/Baskerville.ttf");
}
 @font-face {
    font-family: "BosaNovaCps";
    src: url("fonts/BosaNovaCps.ttf");
}
 @font-face {
    font-family: "CaviarDreams";
    src: url("fonts/CaviarDreams.ttf");
}
 @font-face {
    font-family: "CourierCondensed";
    src: url("fonts/CourierCondensed.ttf");
}
 @font-face {
    font-family: "FreeSetBoldTT";
    src: url("fonts/FreeSetBoldTT.ttf");
}
 @font-face {
    font-family: "Futurica";
    src: url("fonts/Futurica.ttf");
}
 @font-face {
    font-family: "JakobXTT";
    src: url("fonts/JakobXTT.ttf");
}
 @font-face {
    font-family: "NimbusSanLCY";
    src: url("fonts/NimbusSanLCY.ttf");
	font-weight: bold;
}
 @font-face {
    font-family: "NotCourierSans";
    src: url("fonts/NotCourierSans.ttf");
}
 @font-face {
    font-family: "QuantAntiqua";
    src: url("fonts/QuantAntiqua.ttf");
}
 @font-face {
    font-family: "Shablon";
    src: url("fonts/Shablon.ttf");
}
 @font-face {
    font-family: "TypeWriterRussian";
    src: url("fonts/TypeWriterRussian.ttf");
}
 @font-face {
    font-family: "UkrainianCourier";
    src: url("fonts/UkrainianCourier.ttf");
}
 @font-face {
    font-family: "UkrainianPragmatica";
    src: url("fonts/UkrainianPragmatica.ttf");
}
 @font-face {
    font-family: "Xiomara";
    src: url("fonts/Xiomara.ttf");
}
 @font-face {
    font-family: "AlbionicTitulNrSh";
    src: url("fonts/AlbionicTitulNrSh.ttf");
}

